.hidden {
    display:none;
}

body{
    margin: 0;
    font-family: din-2014, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    padding: 10px 20px;
}

.header {
    background-color: #3700EC;
    opacity: 50;
    box-shadow: 0px 3px 5px rgba(255,255,255,.1);
    position: fixed;
    width: 100%;
    z-index:3;
}

.header  .logo {
	float: left;
	display: block;
	font-size: 1.5em;
	padding:10px 20px;

}

//Mobile Nav

.full {
	display: none;
}

.mobile {
	display: grid;
	grid-column: 2 / span 1;
}

#overlay-button {
	position: absolute;
	right: 1em;
	padding: 26px 11px;
	z-index: 5;
	cursor: pointer;
	user-select: none;
    
}

#overlay-button span {
	height: 6px;
	width: 45px;
	border-radius: 2px;
	background-color: #F5A036;
	position: relative;
	display: block;
	transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
	top: -10px;
	visibility: visible;
}

#overlay-button span:after {
	top: 10px;
}

#overlay-button span:before, #overlay-button span:after {
	height: 6px;
	width: 45px;
	border-radius: 2px;
	background-color: #F5A036;
	position: absolute;
	content: "";
	transition: all 0.2s ease-in-out;
}

#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
	background: #F5A036;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked ~ #overlay {
	visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button:hover span,
input[type=checkbox]:checked ~ #overlay-button span {
	background: transparent;
}

input[type=checkbox]:checked ~ #overlay-button span:before {
	transform: rotate(45deg);
	top:0;
}

input[type=checkbox]:checked ~ #overlay-button span:after {
	transform: rotate(-45deg);
    top:0;
}

#overlay {
	height: 100vh;
	width: 100vw;
	background: #3700EC;
	z-index: 2;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;

}

#overlay.active {
	visibility: visible;
}

#overlay ul {
	display: flex;
	color: #F5A036;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	height: 100vh;
	padding-left: 1em;
	list-style-type: none;
}

#overlay ul li {
	padding: .75em;
	margin-bottom: 4em;
}

#overlay ul li a {
	color: #F5A036;
    display: block;
	font-family: bree, sans-serif;
    font-weight: 200;
    font-style: normal;
	text-decoration: none;
	font-size: 3.5em;
	cursor: pointer;
}

#overlay ul li a:hover {
	color: #F3733A;
}

#overlay ul div {
	align-self: center;
}

//Desktop Nav

@media only screen and  (max-width: 799px)
{
	.nav-desk{
	
		display: none;
    }
	}



@media (min-width:48em) {



    .site
	{
		max-width: max-content;
	}

	.header
	{
		display: flex;
	}

	#overlay-button
	{
		display: none;
	}


	.nav-desk
	{
		display: inline;
		margin: auto;
		padding: 0;
	}

	.nav-desk ul{
		float: right;
        align-items: center;
        justify-content: center;
	}

	.nav-desk ul li{
		display:inline;
		padding:20px 30px;
	}

	.nav-desk ul li a {
		color: #F5A036;
        font-family: bree, sans-serif;
        font-weight: 200;
        font-style: normal;
		text-decoration: none;
		font-size: 1.5em;
		cursor: pointer;
	}

	.nav-desk ul li a:hover {
		color: #F3733A;
	}
}


	

  


